<app-card-container [title]="'Clientes'">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ClienteId</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">C&eacute;dula</th>
                    <th scope="col">BirthDate</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <th scope="row text-center">{{cliente.clienteId}}</th>
                    <td>{{cliente.name}}</td>
                    <td>{{cliente.lastName}}</td>
                    <td>{{cliente.cedula}}</td>
                    <td>{{cliente.birthDate.toDateString()}}</td>
                    <td>{{cliente.email}}</td>
                    <td>
                        <a class="btn btn-primary m-1" [routerLink]="['/direcciones/',cliente.clienteId]">Ver Direcciones</a>
                        <a class="btn btn-primary" [routerLink]="['/clientes',cliente.clienteId]">Ver Detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</app-card-container>