<app-card-container [title]="'Direcciones'" *ngIf="direccion | async as address">
    <div>
        <div class="row align-items-center">
            <div class="col-6">
                <label># Dirección</label>
                <input type="number" class="form-control" [(value)]="address.addressId" />
            </div>
            <div class="col-auto">
                <label>Activo</label>
                <input type="checkbox" [(checked)]="address.active" />
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Alias</label>
                <input type="text" class="form-control" [(value)]="address.alias" />
            </div>
            <div class="col-6">
                <label>Street</label>
                <input type="text" class="form-control" [(value)]="address.street" />
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>City</label>
                <input type="text" class="form-control" [(value)]="address.city" />
            </div>
            <div class="col-6">
                <label>State</label>
                <input type="text" class="form-control" [(value)]="address.state" />
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>ZipCode</label>
                <input type="text" class="form-control" [(value)]="address.zipCode" />
            </div>
            <div class="col-6">
                <label>country</label>
                <input type="text" class="form-control" [(value)]="address.country" />
            </div>
        </div>

    </div>
</app-card-container>